header, .main, footer{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

header nav{
    background: #258fd5;
    overflow: hidden;
}

header nav ul{
   list-style: none;
}

header nav ul li{
    float: left;
}

header nav ul li a{
    padding: 10px 20px;
    display: block;
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover{
    background: #75ACEC;
}
footer{
    background: #4B0082;
    color: #fff;
    clear: both;
    padding: 10px 10px;
    text-align: center;
}
